

img.imatgeEditar {
    float: left;
    max-height: 135px;
    max-width: 185px;
    border-radius: 5px;
    border: 2px;
    margin-top: -10px;
    margin-right: 30px;
}


.block_img {
    display: block;
    padding: 30px;
    clear:both;
    margin-left: 50px;
    margin-bottom: 20px;
}


.nom_imatgeEdit {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
}



/* BOTONS EDITAR & ESBORRAR */

/* Button */
.btn {
    margin-left: 20px;

    font-family: monospace;
    white-space: nowrap;
}

/* Button elements */
.btn > span,
.btn--icon > i {
    padding: 0.5em 1em;
    display: inline-block;
    transition: 0.25s all;
}

.btn > span {
    border-radius: 0.25em;
    white-space: nowrap;
    color: #222;
    background: #ddd;
}

.btn:hover > span,
.btn:focus > span {
    background: lightgreen;
}

.btn:active > span {
    background: lightgreen;
    transition: none;
}

/* Button with an icon */
.btn--icon > i {
    border-radius: 0.25em 0 0 0.25em;
    position: relative;
    font-weight: bold;
    font-style: normal;
    color: white;
    background: #222;
}

.btn--icon > i:after {
    content: "";
    border: 0.35em solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 0.775em;
    right: -0.65em;
}

.btn--icon:hover > i,
.btn--icon:focus > i {
    color: #ddd;
}


.btn--icon > span {
    border-radius: 0 0.25em 0.25em 0;
}

/* Button custom states */


.btn--add:hover > i,
.btn--add:focus > i {
    color: lightblue;
}

.btn--delete:hover > i,
.btn--delete:focus > i {
    color: orangered;
}

.btn--add > span {
    background: lightblue;
}

.btn--delete > span {
    background: orangered;
}


/* SCROLLBAR */

.scrollbar
{
    padding: 30px;
    height: 400px;
    width: 700px;
    background: rgba(245, 245, 245, .5);
    overflow-y: scroll;
    overflow-x: hidden;

    margin-left: 110px;
    margin-top: -10px;

    border: 7px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
}




#styleScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#styleScroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#styleScroll::-webkit-scrollbar-thumb {
    background-color: #0ae;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.5, transparent), to(transparent));
}
