/* pagina principal am reviews */

.Last10reviews {
    margin-top: 80px;
}

.BestReview {
    margin-top: 60px;
}


.Last10reviews h1 {
    margin-left: 37%;
    margin-right: 37%;
}

.BestReview h1 {
    margin-left: 41%;
    margin-right: 39%;
}


.section_bestreview {
    width: 33%;
    height: 50%;
    padding: 2%;


    margin: 0px auto;
    padding-bottom: 6%;
}


.section_review {
    width: 33%;
    height: 50%;
    padding: 2%;


    margin: 0px auto;
    border-bottom: 1px solid #98C9ED;
    padding-bottom: 3%;
}


.section_review_title  {
    font-weight: bold;


}

.section_review_title_show {
    padding-top: 3%;
}

p.titol_review{
    display: inline-flex;
    color: grey;
    font-weight: normal;

}

p.data_review {
    margin-right: 60%;
}


.section_review_body {
    display: block;
    text-align: justify;
}

.separator {
    margin: 0px auto;
    border-bottom: 2px solid #98C9ED;
    width: 50%;
}


a.link_titol_review{
    text-decoration: none;
}

a.link_titol_review:link {
    color: #FFA500;
}

a.link_titol_review:visited {
    color: #FFA500;
}

a.link_titol_review:active {
    color: #FFA500;
}

a.link_titol_review:hover {
    color: grey;
}



.twitter-timeline {
    float: right;
    margin: 5%;
    align-items: center !important;
    max-width: 30% !important;

}


