@import url("../practica/styleFormulariRegistreLogin.css");
@import url("../practica/styleWelcomePage.css");
@import url("../practica/styleAddReview.css");
@import url("../practica/styleError.css");
@import url("../practica/llistaReviewsImatges.css");
@import url("../practica/styleMostrarReview.css");




/******************************************************
				FONTS NECESSARIES
******************************************************/

@font-face {
    font-family: Quicksand_light;
    src: url('../../fonts/Quicksand-Light.ttf');

}

@font-face {
    font-family: Quicksand_bold;
    src: url(../../fonts/Quicksand-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Quicksand_italic;
    src: url(../../fonts/Quicksand-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Quicksand_lightItalic;
    src: url(../../fonts/Quicksand-LightItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Quicksand;
    src: url(../../fonts/Quicksand-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Quicksand_dash;
    src: url(../../fonts/Quicksand_Dash.ttf);
}

@font-face {
    font-family: Quicksand_boldItalic;
    src: url(../../fonts/Quicksand-BoldItalic.ttf);
    font-weight: bold;
}

/******************************************************
					   CSS	BASE
******************************************************/

body {
    margin: 0px auto;
    font-family: Quicksand;
    overflow-y: scroll;
    overflow-x: hidden;

}

.wrapper {


}


/* ----------------------------------------------------------------- */


/* Bloc de tot el footer general */
footer {

    position:relative;
    bottom:0px;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    border-top: 2px solid grey;
    background-color: rgba(0,0,0,0.98);
    color: grey;
    display: inline-flex;
}



.footer_components {
    margin-top: 3.5%;
    margin-right: 16%;
    margin-left: 5%;
}


.footer_love {
    margin-top: 3.5%;
    margin-right: 5%;
}

/* ----------------------------------------------------------------- */

/* Bloc de tot el header general */
.main_header {
    background-color: rgba(0,0,0,0.98);
    width: 100%;
    height: 80px;
    border-bottom: 2px solid grey;
    padding-top: 3%;

}


/* Especific del logo de LSR  */
.site-logo {
    font-size: 40px;
    color: grey;
    padding-top: 5%;
    margin-left: 5%;
}


/* Bloc de tota la part de LOG IN / SIGN UP */

.register_login_container {
    display: inline-flex;
    position: absolute;
    right: 2%;
    top: 10%;

}

.register {
    font-size: 16px;
    margin-right: 60px;
    padding-top: 3%;
    color: white;

}


.user_info {
    color: #98C9ED;
}

.input_login {
    height: 25px;
    border-style: none;
    border-radius: 5px;
    padding-left: 15px;

}

/* Canviem la lletra del placeholder dels formularis  */

.input_form::-webkit-input-placeholder {
    font-family: Quicksand_light;
    font-size: 16px;
}


:-moz-placeholder {
    font-family: Quicksand_light;
    font-size: 16px;
}


::-moz-placeholder {
    font-family: Quicksand_light;
    font-size: 16px;
}


:-ms-input-placeholder {
    font-family: Quicksand_light;
    font-size: 16px;
}


/* ----------------------------------------------------------------- */

/* Detalls de l'enllaç que és el logo de LSR */
a.site-logo {
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

a.site-logo:link {
    color: #FFA500;
}

a.site-logo:visited {
    color: #FFA500;
}

a.site-logo:active {
    color: #FFA500;
}

a.site-logo:hover {
    color: #98C9ED;

}



/*
.a.site-logo::before,
.a.site-logo::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.a.site-logo::after {
    width: 90px;
    height: 90px;
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.a.site-logo::before,
.a.site-logo:hover::after,
.a.site-logo:focus::before,
.a.site-logo:focus::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}


*/


/* ----------------------------------------------------------------- */


/* Detalls de l'enllaç del menú SIGN UP / LOG IN */
a.register{
    text-decoration: none;
}

a.register:link {
    color: white;
}

a.register:visited {
    color: white;
}

a.register:active {
    color: white;
}

a.register:hover {
    color: #FFA500;
}

/* ----------------------------------------------------------------- */

.content {
    clear: both;
}

input.notValid{
    background: #F78181;
}


/* ----------------------------------------------------------------- */


/* Searcher */




#container{
    position: absolute;
    top: -25px;
    right: 7%;
    margin:auto;
    padding:3em 0 0;
    text-align:center;
}

#searchform{
    display:inline;
    font-size:16px;
    border-radius: 8em;
    border:0.1em solid rgba(218,208,190,1);
    box-shadow:0 0 0.3em rgba(60,60,60,0.4);
    padding:0.4em;
    background:white;
}

.icon_search {
    padding-left: 4px;
}

#s{
    transition:all 0.3s ease-out;
    width:1px;
    border-radius:0;
    box-shadow:none;
    outline: none;
    padding:0;
    margin:0;
    border:0;
    background-color: transparent;
    opacity:0;
}

#s:focus{
    width:21em;
    opacity:1;
}

#s:hover{
    width:21em;
    opacity:1;
}

.searcher_label{
    padding-left: 1px;
    display:inline-block;
    margin-top:0.3em;
    color:black;
    font-size:14px;

    position: relative;
    left:0.1em;
}

.searcher_label::-webkit-input-placeholder {
    font-family: Quicksand_light;
    font-size: 14px;
}


:-moz-placeholder {
    font-family: Quicksand_light;
    font-size: 14px;
}


::-moz-placeholder {
    font-family: Quicksand_light;
    font-size: 14px;
}


:-ms-input-placeholder {
    font-family: Quicksand_light;
    font-size: 14px;
}



/* MENU LATERAL FIXE HOME*/


.menu_lateral_fixe_home {
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
}

.menu_lateral_fixe_home ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
}


.menu_lateral_fixe_home ul li {
    display: inline;
}


.menu_lateral_fixe_home ul li a {
    text-decoration: none;
    color: grey;
    padding-bottom: 4px;
}

.menu_lateral_fixe_home ul li a:hover{
    text-decoration: none;

    border-bottom: 1px solid;
    color: #98C9ED;
    
}

.sep {
    margin-left: 1.5%;
    margin-right: 1.5%;
}



/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/*                          LOG IN JQUERY                          */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
}

nav li {
    float: left;
}

nav #login {
    border-right: 1px solid #ddd;
    box-shadow: 1px 0 0 #fff;
}

nav #login-trigger,
nav #signup a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

nav #signup a {
    border-radius: 0 3px 3px 0;
}

nav #login-trigger {
    border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
    background: #fff;
}

nav #login-content {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
}

nav li #login-content {
    right: 0;
    width: 250px;
}

/*--------------------*/

#inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
    margin: 10px 0 0 0;
}

#login #submit {
    background-color: #d14545;
    background-image: linear-gradient(top, #e97171, #d14545);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #7e1515;
    float: left;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #fff;
}

#login #submit:hover,
#login #submit:focus {
    background-color: #e97171;
    background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
    border: none;
}

#login label {
    float: right;
    line-height: 30px;
}

#login label input {
    position: relative;
    top: 2px;
    right: 2px;
}







